.gameTitle {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 200px;
}
.choices {
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 20px;
}
